"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelShadows: true
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "spell-check"
      "language-json"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Courier New, Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace"
    fontSize: 20
    invisibles: {}
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "836bd8db-3441-7597-df42-1ab535328ed5"
  "git-log": {}
  minimap:
    scrollAnimation: true
  "spell-check":
    locales: [
      "en-US"
      "ru-RU"
    ]
  welcome:
    showOnStartup: false
".json5.source":
  editor:
    showIndentGuide: false
